:root {
    --black:#373737;
    --white:#f4f4f4;
    --midium-black: #777;
    --hard-gray: #555;
    --gray: #aaa;

    --transparent-white:#f4f4f4a0;
    --transparent-black:#373737a0;
    
    /* --black:#f4f4f4;
    --white:#373737; */
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}
header {
    display: grid;
    justify-items: center;
    grid-template-rows: 40px 1fr;
    height:100vh;
    overflow: hidden;
}
.by-alephenix {
    justify-self:end;
    margin: 20px;
}
.by-alephenix a{
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: var(--gray);
    border-bottom: 2px solid var(--gray);
}
.by-alephenix a:hover{
    color: var(--midium-black);
    border-bottom: 2px solid var(--midium-black);
}
.pokedex-title{
    display: flex;
    justify-items: center;
    position: relative;
    margin-top: 30px;
    height: 200px;
}

.pokedex-title p{
    display: inline-block;
    position: relative;
    top: 130px;
    font-weight: 700;
    font-size: 70px;
    color: var(--gray);
    letter-spacing: -10px;
    text-shadow:
    var(--black) 0px 1px 2px,
    var(--black) 0px -1px 2px,
    var(--black) 1px 0 2px,
    var(--black) 1px 1px 2px,
    var(--black) 1px -1px 2px,
    var(--black) -1px 0 2px,
    var(--black) -1px 1px 2px,
    var(--black) -1px -1px 2px;
}
.pokedex-title p:nth-child(2),
.pokedex-title p:nth-child(4),
.pokedex-title p:nth-child(6){
    z-index: 5;
}
.pokeball-part1{
    position: absolute;
    top: 10px;
    left:60px;
    height:200px;
    width: 200px;
    border-radius: 50%;
    background: 
    radial-gradient(var(--white) 50%, transparent 50.2%)50% 22%/ 4em 4em,
    radial-gradient(var(--black) 50%, transparent 50.2%)50% 20%/ 5em 5em,
    radial-gradient(var(--white) 50%, transparent 50.2%)-150px -10px/ 400px 400px,
    linear-gradient(red , red);
    background-repeat:no-repeat;
}
.pokeball-part2 {
    position: absolute;
    top: 0px;
    left: 30px;
    height:200px;
    width: 200px;
    border-radius: 50%;
    border:10px solid var(--black);
    background: 
    radial-gradient(var(--black) 50%, transparent 50.2%) 50% 15%/ 5em 5em;
    background-repeat:no-repeat ;
    overflow: hidden;
    z-index: 1;
}
.pokeball-part2 div {
    position: absolute;
    bottom: -150px;
    left: -110px;
    height:300px;
    width: 300px;
    border-radius: 50%;
    border:10px solid var(--black);
}

.pokemon-header-continer{
    position: relative;
    justify-self: start ;
    height: 200px;
    width: 200px;
}
.pokemon-part {
    position: absolute;
    height: 200px;
    width: 200px;
}
.pokemon-part div{
    position: absolute;
}
.head {
    bottom: 50px;
    right: 30px;
    height: 110px;
    width:110px;
    border-radius: 50%;
    background:
    radial-gradient(ellipse, var(--midium-black) 60%, rgba(0, 0, 0, 0.01) 60.2%)50% 15px/20px 40px,
    radial-gradient(ellipse, #ffdd00 60%, rgba(0, 0, 0, 0.01) 60.2%)50% 5px/35px 60px,
    radial-gradient(ellipse, var(--black) 60%, rgba(0, 0, 0, 0.01) 60.2%)50% 90%/8px 4px,
    linear-gradient(var(--midium-black), var(--midium-black));
    background-repeat:no-repeat;
}
.eye {
    height:30px;
    width: 30px;
    background: #e6564f;
    overflow: hidden;
    bottom: 25px;
}
.eye1{
    right: 10px;
    border-radius: 100% 0 65% 0 ;
}
.eye2{
    left: 10px;
    border-radius: 0 100% 0 65%;
}
.eye-pupil {
    height: 25px;
    width: 10px;
    background-color: var(--black);
    border-radius: 50%;
}
.eye1-pupil {
    margin: -5px 0 0 5px;
}
.eye2-pupil {
    margin: -5px 0 0 10px;
}
.pokemon-part .ear {
    bottom: 130px;
    height: 100px;
    width: 40px;
    background-repeat: no-repeat;
}
.ear1{
    right: 120px;
    border-radius: 50% 200% 0 200%;
    rotate: -20deg;
    background: 
    radial-gradient( var(--midium-black) 60%, rgba(0,0,0,0.01) 60.2%)40% 170%/50px 70px,
    radial-gradient(#ffdd00 60%, rgba(0,0,0,0.01) 60.2%)50% 90%/50px 70px,
    linear-gradient(var(--midium-black), var(--midium-black));
}
.ear2 {
    right: 20px;
    border-radius: 200% 50% 200% 0;
    rotate: 20deg;
    background:
    radial-gradient( var(--midium-black) 60%, rgba(0,0,0,0.01) 60.2%)60% 170%/50px 70px,
    radial-gradient(#ffdd00 60%, rgba(0,0,0,0.01) 60.2%)50% 90%/50px 70px,
    linear-gradient(var(--midium-black), var(--midium-black));  
}
.pokemon-body {
    position: absolute;
    bottom:-170px ;
    right: 35px;
    height: 250px;
    width: 100px;
    border-radius: 50% ;
    background-color: var(--hard-gray);
}
.tail {
    position: absolute;
    bottom:-70px;
    right: -35px;
    height: 150px;
    width: 80px;
    border-radius: 100% 4px 100% 0 ;
    background:
    radial-gradient(var(--hard-gray) 60%, transparent 60.2%)60% 100%/ 100px 100px,
    radial-gradient(#ffdd00 60%, transparent 60.2%)40% 60%/ 100px 100px,
    linear-gradient(var(--hard-gray), var(--hard-gray));
    background-repeat:no-repeat;
}


main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.pokedex-slide {
    position: relative;
    height: 100vh;
}
.search-container {
    position: absolute;
}

#inputSearch {
    height: 50px;
    padding: 10px;
    margin:15px 5px 15px 15px;
    border-radius: 10px;
    border: 2px solid var(--gray);
}
#search {
    height: 50px;
    padding:10px;
    margin: 15px 15px 15px 0;
    border-radius: 10px;
    background-color: #4f7ad2;
    color: var(--white);
    border: 2px solid var(--gray) ;
}
#search:hover {
    background-color: #2a64d7;
}

.pokedex-container{
    position: relative;
    top: 80px;
    left: 20px;
}

.pokedex {
    position:absolute;
}

.pokedex-parts {
    position: absolute;
}
.pokedex-part1 {
    top: 0;
    left: 0px;
    height: 450px;
    width: 250px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 15px 0 0 #7f0614;
    background:
    linear-gradient(#800e1b, #800e1b) 101% 61.5px/5.4em .9em,
    linear-gradient(#800e1b, #800e1b) 0% 100px/5.3em .8em,
    linear-gradient(-25deg,transparent 20%,#800e1b 20.2%, #800e1b 28%, transparent 28.2%) 6% 0.5%/10em 7em,
    linear-gradient(#cc0018, #cc0018) 50% 50%/ 100% 100%;
    background-repeat: no-repeat;
}
.pokedex-part2 {
    top: 130px;
    left: 40px;
    height: 180px;
    width: 190px;
    background: linear-gradient(45deg,transparent 10%,#d4f1fc 10.2%);
    border-radius: 5px;
}



.information {
    display: grid;
    grid-template-columns: 3fr 2fr;
    top:20px;
    left: 10px;
    height: 120px;
    width: 170px;
    background-color: #26b3eb;
}
.information-part1 img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 80px;
    width: 80px;
}
.information .information-part1 p {
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0 0 5px;
}

.information .information-part2 p:nth-child(1),
.information .information-part2 p:nth-child(3),
.information .information-part2 p:nth-child(5){
    font-weight: 600;
    font-size: 12px;
}

.information .information-part2 p:nth-child(2),
.information .information-part2 p:nth-child(4){
    font-weight: 400;
    font-size: 12px;
}

#imgShiny {
    position: absolute;
    bottom: 0px;
    left: 110px;
    height: 50px;
    width: 50px;
}


.pokedex-part3 {
    top: 20px;
    left: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 
    50px -25px 0 -25px #e42828,
    70px -25px 0 -25px #e4be28,
    90px -25px 0 -25px #8fe428,
    50px -25px 0 -22px #292929, 
    70px -25px 0 -22px #292929, 
    90px -25px 0 -22px #292929,
    60px 240px 0 -20px #f03434,
    60px 240px 0 -17.5px #292929,
    80px 90px 0 -25px #f03434,
    100px 90px 0 -25px #f03434,
    0 295px 0 -12px #34a5f0
    ;
    background:
    radial-gradient(ellipse at 50% 50%,#26b3eb 20%,rgba(255,215,0,0) 20.5%) 50% 50%/8.5em 8.5em,
    radial-gradient(ellipse at 50% 50%,#252525 20%,rgba(255,215,0,0) 20.5%) 50% 50%/10em 10em,
    radial-gradient(ellipse at 50% 50%,#d4f1fc 20%,rgba(255,215,0,0) 20.5%) 50% 50%/15em 15em;
    background-repeat: no-repeat;
}

.pokedex-part4 {
    top: 280px;
    left: 140px;
    height: 4px;
    width: 80px;
    border-radius: 5px;
    background: #292929;
    box-shadow: 
    0 8px 0 0 #292929,
    0 16px 0 0 #292929;
}

.pokedex-part5 {
    top: 340px;
    left: 80px;
    height: 10px;
    width: 40px;
    border-radius: 5px;
    background: #4ad618;
    box-shadow: 
    50px 0 0 0 #d68718;
}
.pokedex-part6 {
    top: 380px;
    left: 30px;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background: #efcf1b;
}
.pokedex-part7 {
    top: 350px;
    left: 165px;
    height: 60px;
    width: 60px;
    background:
    linear-gradient(transparent 35%, #333 35.2%,#333 65%, transparent 65.2%),
    linear-gradient(to right, transparent 35%, #333 35.2%,#333 65%, transparent 65.2%);
}
.pokedex-part8 {
    top: 100px;
    left: 10px;
    height: 340px;
    width: 230px;
    border-bottom-left-radius: 20px;
    border: 5px solid #7f0614;
}
.pokedex-part9 {
    top: 65px;
    left: 90px;
    height: 100px;
    width: 150px;
    background:
    linear-gradient(155deg,#7f0614 14%, #cc0018 14.2%, #cc0018) 0% 40%/ 10em 1em
    ;
    background-repeat: no-repeat ;
    border-right: 5px solid #7f0614;

}
.pokemons-slide {
    display: grid;
    position: relative;
    height: 700px;
}

.play-grounds{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(13, 1fr) ;
    justify-items: center;
    align-items: center;
}

.play-grounds img{
    height: 50px;
    width: 50px;
}

.courtain-pokemons {
    position: absolute;
    width: 100%;
    height: 700px;
    background: var(--transparent-white);
}
.shetline {
    position: absolute;
    width: 250px;
    border-radius: 5px;
    background: var(--gray);
}
.shetline-top {
    left: -5px;
    height: 10px;
}
.shetline-bottom {
    bottom: 0;
    right: -5px;
    height: 10px;
}

.introduction {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    position: absolute;
    height: 100%;
    width: 100%;
}

.text-container{
    display: grid;
    align-items: center;
    position: relative;
    height: 140px;
    width: 80%;
    font-size: 25px;
    font-weight: 500;
    border-radius: 0 40px 40px 0;
    border: 3px solid var(--gray);
    color: var(--gray);
    background-color: var(--hard-gray);
}
.primary-text-container {
    left: -5px;
}
.secondary-text-container {
    right: -5px;
    justify-self: end;
    text-align: end;
    border-radius: 40px 0 0 40px ;
}
.text-container h3{
    margin: 20px;
}