* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}
header {
    height:50px;
    width: 100%;
    background-color: #cc0018;
}

.pokedex-container {
    position: relative;
    height: 100vh;
    width:100%;
}
.pokedex-img-backgroun {
    position: absolute;
    height: 100%;
    width: 100%;
}

.pokedex {
    position: absolute;
}

.pokedex-parts {
    position: absolute;
}
.pokedex-part1 {
    top: 30vh;
    left: 5vw;
    height: 350px;
    width: 250px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 15px 0 0 #7f0614;
    background:
    linear-gradient(#800e1b, #800e1b) 100% 18.3%/5.4em .9em,
    linear-gradient(#800e1b, #800e1b) 0% 30%/5.3em .8em,
    linear-gradient(-25deg,transparent 20%,#800e1b 20.2%, #800e1b 28%, transparent 28.2%) 6% 0.5%/10em 7em,
    linear-gradient(#cc0018, #cc0018) 50% 50%/ 100% 100%;
    background-repeat: no-repeat;
}
.pokedex-part2 {
    top: 34vh;
    left: 6.5vw;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 
    50px -25px 0 -25px #e42828,
    70px -25px 0 -25px #e4be28,
    90px -25px 0 -25px #8fe428,
    50px -25px 0 -22px #292929, 
    70px -25px 0 -22px #292929, 
    90px -25px 0 -22px #292929;
    background:
    radial-gradient(ellipse at 50% 50%,#26b3eb 20%,rgba(255,215,0,0) 20.5%) 50% 50%/8.5em 8.5em,
    radial-gradient(ellipse at 50% 50%,#252525 20%,rgba(255,215,0,0) 20.5%) 50% 50%/10em 10em,
    radial-gradient(ellipse at 50% 50%,#d4f1fc 20%,rgba(255,215,0,0) 20.5%) 50% 50%/15em 15em;
    background-repeat: no-repeat;
}

.information {
    top: 50vh;
    left: 5vw;
    height: 150px;
    width: 150px;
    background-color: #26b3eb;
}

.pokemon-img {
    height: 80px;
    width: 80px;
}

.pokemons-slide{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}